﻿body
{
    font-family: Tahoma;
    background-color: #f6f6f6;
}

#main
{
    width: 1024px;
    margin: 0px auto;
}

#googleMap
{
    width: 1024px;
    height: 500px;
    float: left;
    border: 1px solid #dedede;
    border-radius: 10px;
}

.controls-box
{
    display: none;
    float:left;
    width: 400px;
    margin: 10px 0px 0px 20px;
}

.inputReg
{
    width: 70%;
    float:left
}

#time
{
    margin-left:5%;
    width: 25%;
    float:left
}

.tax-box
{
    float:left;
    padding-top: 3px;
    font-size:large;
    text-align:center;
    color: #069200;
    margin-top: 10px;
    height: 35px;
    width:100%;
    background-color: #93ee95;
    border: 1px solid #007911;
    border-radius: 5px;
}

.buttonReg
{
    float:left;
    width: 100%;
    margin-top: 10px;
}

.response-msg-box {
    display: none;
    float: left;
    width: 400px;
    border-radius: 5px;
    margin-top: 10px;
    padding:10px;
}

.error-response{
    color: #ba0000;
    background-color: #ff9898;
    border:1px solid #ba0000;
}

.success-response{
    color: #069200;
    background-color: #93ee95;
    border: 1px solid #007911;
}

.info-table {
    display: none;
    position:static;
    float:left;
    margin-left: 20px;
    width: 400px !important;
}

.clear{
    clear: both;
}

.employee-panel
{
    float: left;
    margin-top: 20px;
    width: 1022px;
    border-radius: 10px;
    border: 1px solid #dedede;
}

.tab-pane select
{
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    float:left;
}

#statstab select
{
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    float:left;
}

.tab-pane input
{
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    float:left;
}

.tab-pane button
{
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    float:left;
}
.tab-pane .response-msg-box
{
    margin-left: 20px;
    height:50px;
    width: 982px;
}

#log-in-form
{
    width: 400px;
    margin-left: 312px;
}

.log-input
{
    display: inline-block;
    max-width: 350px;
    width: 350px;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
}

nav-tabs{
    float: left;
}